.vscode
todo*
vscodeignored
node_modules
!node_modules/node-sqlite3-wasm
!node_modules/@vscode-elements/elements-lite/components/textfield/textfield.css
!node_modules/@vscode-elements/elements-lite/components/collapsible/collapsible.css
!node_modules/vue/dist/vue.esm-browser.prod.js
!node_modules/@vscode/codicons/dist/codicon.css
!node_modules/@vscode/codicons/dist/codicon.ttf
build.sh
build.js
release.sh
img/demo*.png
.gitignore
jsconfig.json
CONTRIBUTING.md
vsix-out
**/*.d.ts
eslint.config.js
eslint.config.mjs
src
